.content {
    /* background-color:antiquewhite; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    opacity: 500%;
    /* color: black; */
  }
    
  .item {
    /* background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  
    background-color: transparent; /* Make the background transparent */
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Optional: light border for visibility */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    color: #333; /* Text color */
    cursor: pointer;
  }
    