.folderCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.folderCard {
    width: 91.97px;
    height: 81.42px;
    background-color: #D9D9D999;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}
.FolderIcon {
    width: 60.31px;
    height: 48.25px;
    margin-top: 5px;
    margin-left: 12px;
}
.more-vert-icon {
    width: 4.52px;
    height: 18.09px;
    margin-left: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.folderName {
    font-size: 13px;
    color: black;
    text-align: center;
    width: 80px;
}

.folderCard {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  
.options-dropdown {
    position: absolute;
    top: 0;
    right: -120px; /* Adjust this to position the dropdown where you like */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
  

.options-dropdown button {
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: #333;
}

.options-dropdown button:hover {
    background-color: #f1f1f1;
}
  
  
