/* Global Reset for Consistent Layout */
* {
  margin: 50px 100px 100px 100px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #FFFFF;
  color: #333;
}

/* Main container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



